
<div class="container">
  <div class="row">
    <div class="col-10 offset-1">
      <h2>Customer List</h2>
      <div>
        <button [routerLink]="['/customer-editor']" class="btn btn-success btn-block">
          <i class="fa fa-plus"></i>
        </button>
      </div>
      <div>
        <input
          (keyup)="onFilterPhrase($event)"
          class="form-control"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
      </div>
       <table class="table">
        <thead>
          <tr>   <!--    sorter            --> <!-- table -->
            <th (click)="onColumnSelect('id')">#</th>
            <th (click)="onColumnSelect('name')">Name</th>
            <th (click)="onColumnSelect('email')">Email</th>
            <th (click)="onColumnSelect('rating')">Rating</th>
            <th (click)="onColumnSelect('address')">Address</th>
          </tr>
        </thead>
         <tbody>
          <tr *ngFor="let customer of customerList$ | async| filter: phrase: 'name' | sorter: columnKey:direction ">
            <td>{{customer.id}}</td>
            <td>{{customer.name}}</td>
            <td>{{customer.email}}</td>
            <td>{{customer.rating}}</td>
            <td>{{customer.address}}</td>
            <td class="btn-group">
              <button [routerLink]="['customer/' + customer.id]" class="btn btn-info">
                <i class="fa fa-pencil"></i>
              </button>
              <button (click)="onDelete(customer)" class="btn btn-danger">
                <i class="fa fa-trash"></i>
              </button>
            </td>
           </tr>
        </tbody>
       </table>
    </div>
  </div>
</div>

