<div class="container">
  <div class="row">
    <div class="col-6 offset-3" *ngIf="customer$ | async as customer" >
      <h2>Update Customer</h2>
      <form #customerForm="ngForm" (ngSubmit)="onSubmit(customerForm, customer)">

        <div class="form-group">
          <label for="">Name</label>
          <input [(ngModel)]="customer.name" type="text"
            class="form-control" name="name"
            pattern=".{8,40}" required>
            <div [hidden]="customerForm.controls.name?.valid || customerForm.controls.name.pristine" class="error-message">
              Minimum 8 characters, maximum 40 characters.
            </div>
        </div>

        <div class="form-group">
          <label for="">Email</label>
          <input [(ngModel)]="customer.email" type="text"
            class="form-control" name="email"
            pattern="^.{3,}@{1}.{3,}\.{1}[a-z]{2,}$" required>
               <div [hidden]="customerForm.controls.email?.valid || customerForm.controls.email.pristine" class="error-message">
                Invalid email address.
              </div>
        </div>

        <div class="form-group">
          <label for="">Rating</label>
          <input [(ngModel)]="customer.rating" type="text"
            class="form-control" name="rating"
            pattern="[1-5]{1,1}" required>
               <div [hidden]="customerForm.controls.rating?.valid || customerForm.controls.rating.pristine" class="error-message">
                Minimum 1 character. Maximum 1 character. Numbers only 1 - 5.
              </div>
        </div>

        <div class="form-group">
          <label for="">Address</label>
          <input [(ngModel)]="customer.address" type="text"
            class="form-control" name="address"
            pattern=".{8,40}" required>
               <div [hidden]="customerForm.controls.address?.valid || customerForm.controls.address.pristine" class="error-message">
                Minimum 8 characters, maximum 40 characters.
              </div>
        </div>

        <div class="form-group">
          <!-- save button  update -->
          <button  type="submit" class="btn btn-primary btn-block mt-5">
            <i class="fa fa-save"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

